.pagination-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 3px; */
}

button{
    margin: 5px;
}

.active{
    background-color: grey;
    color: aliceblue;
}